<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <div class="container-fluid">
      <a class="logo" href="#"><img class="logo" width="100px" height="100px" style=" border-radius:100%; border: 1px solid black;" src="assets/logo_main.jpg" alt="Logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" routerLink="/argonaute-list">Argonaute</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard">Dashboard</a>
                
            </li>
        </ul>
      </div>
    </div>
  </nav>