<div class="main">
    <h1>Les Argonautes</h1>
    <div class="homeBackground">
        <img src="/assets/coltchide.jpg" alt="image d'accueil">
    </div>
    <div class="homeText">
        <p>
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
         Delectus harum quae natus libero illum asperiores exercitationem voluptatibus quaerat facilis dolorum quis officia, 
         fugit obcaecati corrupti ipsum nisi error. Accusantium, consequatur.
        </p>
    </div>
   
</div>

